<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.filesystem.mapper.FileMapper">

    <!-- 显示自己的文件 -->
    <select id="findOwnFile" resultType="com.example.filesystem.pojo.File">
        select
            *
        from
            file
        where
            create_by = #{userId}
    </select>

</mapper>